<nav class="flex flex-row justify-center gap-40">
  <div class="">
    <a mat-raised-button color="primary" href="/">logo</a>
  </div>
  <ul class="flex flex-row gap-10">
    <li>
      <a mat-raised-button color="primary" href="/psychologists"
        >Psychologists</a
      >
    </li>
    <li>
      <a mat-raised-button color="primary" href="/community">Community</a>
    </li>
    <li>
      <a mat-raised-button color="primary" href="/test-yourself"
        >Test Yourself</a
      >
    </li>
    <li>
      <a mat-raised-button color="primary" href="/institutional"
        >Institutional</a
      >
    </li>
    <li><a mat-raised-button color="primary" href="/blog">Blog</a></li>
  </ul>
  <div>
    <a mat-raised-button color="accent" href="/login-register"
      >Login/Register</a
    >
  </div>
</nav>
